.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: lightblue;
}

.messageCreate {
    width: 100%;
    height: 46px;
}

.channelHeader {
    width: 100%;
    height: 63px;
}

.channelMessages {
    flex: 1;
}
