.container {
    display: flex;
    flex-direction: column;
}

.channelList {
    flex: 1;
}

.userProfile {
    width: 100%;
    height: 63px;
}

.channelCreate {
    width: 100%;
    height: 46px;
}

